
/* Set main header fonts */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Set the basic heading font and weight */
h1, h2, h3 {
  font-family: 'Oswald';
  font-weight: 800;
}

/* Set body parameters */
body {
    font-family: 'Roboto', serif;
    line-height: 1.4;
    height: 92%;
    font-size: 24;
}

/* Adjust H3 bottom margin so text isn't pushed so far down below it */
remark-slide, h3 {
  margin-top: 0;
  margin-bottom: 3px;
}


/* Title slide edits */
.title-slide {
    background-image: url(ksu-seal.png);
    background-size: 600px;
    background-attachment: relative;
    background-position: 800px 250px ;
}
.title-slide h1,
.section h1 {
    font-size: 75px;
    line-height: 0.2;
    padding-bottom: 15px;
}
.title-slide h2,
.section h2 {
    font-size: 45px;
    max-width: 75%;
    line-height: 1.1;
    padding: 1;
}
.title-slide h3,
.section h3 {
    font-size: 20px;
    line-height: 1.0;
    padding: 0;
    font-weight: 400;
}
.section .remark-slide-number { display: none; }

.section {
  counter-increment: slide;
  content: counter(slide);
}

/* Change font size for word, sentence, or slide */
.large { font-size: 130% }
.medium { font-size: 90% }
.small { font-size: 70% }

/* Set inverse slide font colors */

.inverse {
  background-color: #512888;
  color: white;
  text-shadow: 0 0 20px #333;
}


/* Custom Font Color for Highlights */
.font-color-red {
  font-weight: bold;
  color: red;
}

.font-color-blue {
  font-weight: bold;
  color: blue;
}


/* Images, video, etc. */
img, video, iframe {
  max-width: 80%;
  max-height: 60%;
  margin: auto;
}

img {
    padding-bottom: 5px;
    margin: auto;
}

.iframe{
  text-align: center;
  margin: auto;
}

/*
img {
border: 2px solid black;
}
*/


/* Two-column layout */
.left-column {
  color: #777;
  width: 25%;
  height: 90%;
  float: left;
}
.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}
.right-column {
  width: 75%;
  height: 90%;
  float: right;
  padding-top: 1em;
}
.pull-left {
  float: left;
  width: 47%;
  height:100%;
}
.pull-right {
  float: right;
  width: 47%;
  height: 100%;
}
.pull-right ~ * {
}


blockquote {
  background: #f9f9f9;
  border-left: 10px solid #512888;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

figure {
  display: inline-block;
  float: center;
  margin: auto; /* adjust as needed */
}
figure img {
  vertical-align: top;
  margin: auto;
}
figcaption {
  font-size: 16px;
  text-shadow: none;
  margin: auto;
  color: black;
  height: auto;
  word-wrap: break-word;
  text-align: left;
  padding-left: 10%;
  padding-right: 10%;
  max-width: 90%;
  caption-side: bottom;
}

.caption{
  text-align: center;
  margin-top: auto;
}

/* Image grid */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 0 4px;
}

.column img {
  margin-top: 3px;
  vertical-align: middle;
  text-align: center;
  width: 80%;
  height: 80%;
}
